*{
  margin: 0;
}

.app {
  background-color: #A9A9A9;
}

.app_header{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #696969;
  object-fit: contain;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
}

.app_headerImage{
  object-fit: contain;
}

.app_signup{
  display: flex;
  flex-direction: column;
}

.app_posts{
  padding: 20px;
  display: flex;
  justify-content: center;
}